{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <h1>Login</h1>

    {% if error|default(null) %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% elseif errorToken|default(null) %}
        <div class="alert alert-danger">
            {{ errorToken }}
        </div>
    {% elseif success|default(null) %}
        <div class="alert alert-success">
            {{ success }}
        </div>
    {% endif %}
    <form action="{{ path('app_login') }}" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="" required autofocus>
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button type="submit">Login</button>
    </form>

    <a href="{{ path('app_register') }}">Don't have an account? Register here.</a>
{% endblock %}
